#chessboard {
	width: 800px;
	height: 800px;
}

#chessboard .tile {
	display: inline-block;
	width: 100px;
	height: 100px;
}
#chessboard .black-tile {
	background-color: #779556;
}
#chessboard .white-tile {
	background-color: #ebecd0;
}